{% extends 'voter_analytics/base.html' %} {% block content %}
<h1>Voter List</h1>

<div class="row">
  <div>{% include 'voter_analytics/search.html' %}</div>
</div>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Street Address</th>
      <th>Date of Birth</th>
      <th>Party Affiliation</th>
      <th>Voter Score</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for voter in voters %}
    <tr>
      <td>{{ voter.first_name }}</td>
      <td>{{ voter.last_name }}</td>
      <td>{{ voter.addressStreetNumber }} {{ voter.addressStreetName }}</td>
      <td>{{ voter.dob }}</td>
      <td>{{ voter.partyAffiliation }}</td>
      <td>{{ voter.voterScore }}</td>
      <td><a href="{% url 'voter' voter.pk %}">View Details</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7">No voters found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="row">
  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li>
      <span
        ><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span
      >
    </li>
    {% endif %}
    <li class="">
      <span
        >Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span
      >
    </li>
    {% if page_obj.has_next %}
    <li>
      <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>
{% endblock %}
