{% extends 'restaurant/base.html' %}

{% block content %}
    <h2>Welcome To Fiore's!</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQphwze3TLfiRrLIHhEaGt8zwiNLj2x8lOuvQ&s">
    <p>Home to the best fresh mozzarella in Hoboken since 1913!</p>
    <p>Directions: <a target="_blank" href="https://www.google.com/maps/place/Fiore's+House+of+Quality/@40.7430165,-74.0387585,658m/data=!3m2!1e3!4b1!4m6!3m5!1s0x89c2576755d5af0f:0xca7e308f397d3382!8m2!3d40.7430165!4d-74.0361836!16s%2Fg%2F12619fk38?entry=ttu&g_ep=EgoyMDI0MDkyNS4wIKXMDSoASAFQAw%3D%3D">414 Adams St #2693, Hoboken, NJ 07030</a></p>
    <h4>Hours</h4>
    <table border="1">
        <tr>
            <td>Day</td>
            <td>Open</td>
        </tr>
        <tr>
            <td>Monday-Saturday</td>
            <td>8AM - 6PM</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>Closed</td>
        </tr>
    </table>
{% endblock %}