{% load static %}
<html>
    <head>
        <title>Mini Facebook App</title>
        <link rel="stylesheet" href="{% static 'mini_fb/mini_fbStyles.css' %}">
    </head>

    <body>
        <header>
            <h1>Mini Facebook</h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'show_all_profiles' %}"><h4 style="color: white;">All Profiles</h4></a>
                        {% if request.user.is_authenticated %}
                            <p>Logged in as {{request.user}}</p>
                            <a href="{% url 'show_profile' request.user.profile.pk %}"><h4 style="color: white;">My Profile</h4></a>
                                <form action="{% url 'logout' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="Logout">
                                </form>
                        {% else %}
                            <button><li><a href="{% url 'login' %}">Login</a></li></button>
                            <li><a href="{% url 'create_profile_form' %}"><h4 style="color: white;">Create Profile</h4></a></li>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <table border="1">
                {% block content %}
                <!-- fill in this section with specific page detail -->
                {% endblock %}
                </table>
            </div>
        </main>

        <footer>
            <p>Made by Awad Khawaja, CS 412 Assignment 5</p>
        </footer>

    </body>
</html>