{% extends 'mini_fb/base.html' %}

{% block content %}
    <div class="profile-container">
        <div class="profile-image">
            <img src="{{profile.image_url}}">
        </div>
        <div class="profile-details">
            <p>{{profile.first_name}} {{profile.last_name}}</p>
            <p>{{profile.city}}</p>
            <a href="{% url 'create_status' profile.pk %}"><p style="color: white;">Click to Create Message</p></a>
            <a href="{% url 'update_profile' profile.pk %}"><p style="color: white;">Update Profile</p></a>
        </div>
    </div>


    <div>
        {% if profile.get_status_messages %}
            <h2>Comments</h2>       
            {% for message in profile.get_status_messages %}
                <div>
                    <strong>{{message.timestamp}}</strong>
                    <p>{{message.message}}</p>
                    <div style="display: flex;">
                        <a href="{% url 'update_status' message.pk %}"><p style="color: gray; margin: 0;">Update</p></a>
                        <a href="{% url 'delete_status' message.pk %}"><p style="color: gray; margin: 0; margin-left: 10px;">Delete</p></a>
                    </div>
                    {% for img in message.get_images %}
                        <img src='{{img.file.url}}' alt='Image not found: {{img.file.url}}'>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <h2>No Comments</h2>
        {% endif %}
    </div>
{% endblock %}