body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px 0;
}

main {
    display: flex;
    flex-grow: 1;
}

nav {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    flex-shrink: 0;
}

div {
    flex-grow: 1;
    padding: 20px;
}

img {
    max-width: 500px;
}

ul {
    list-style-type: none;
}
