{% extends 'quotes/base.html' %}

{% block content %}
    <h2>About Thomas Edison</h2>
    <p>This website displays quotes by the famous <a href="https://en.wikipedia.org/wiki/Thomas_Edison">Thomas Edison</a>.</p>
    <p>Thomas Edison was a famous american inventor and businessman. He was alive from
        from 1847-1931 and invented many devices including the phonograph, motion picture camera, 
        and the light bulb. His inventions had widespread impact on the modern industrialized
        world. He was one of the first inventors to apply principles of organized science and teamwork
        to the process of invention, he even established the first industrial research lab.
    </p>

    <p style="color: gray;">This website was created by Awad Khawaja using Django for CS 412</p>
{% endblock %}